body {
  position: relative;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  background-image: linear-gradient(90deg, rgba(40, 40, 40) 80%, rgba(35, 35, 35) 80%), url();
  &::before {
    z-index: -1;
    position: absolute;
    content: "";
    inset: 0;
    width: 100%;
    height: 100%;
    // Three background options. Only the last one is being displayed. Feel free to move them around to see what the other options look like. We can delete the lines and images when we finalize our decision.
    background: url("../assets/manoj-kumar-bricks.jpg") no-repeat center /cover;
    background: url("../assets/jakob-braun-bricks.jpg") no-repeat center / cover;
    background: url("../assets/namroud-gorguis-bricks.jpg") no-repeat center / cover;
    filter: grayscale(60%) brightness(25%);
  }
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

ul,
li,
a {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

fieldset {
  border: none;
}

label {
  cursor: pointer;
}

input[type="radio"] {
  cursor: pointer;
}