body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

ul, li, a {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}