.drinks {
  margin: 155px 0;
}
.drinks__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.drink__container {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-between;
}

.drink__list {
  position: relative;
}

.drink {
  position: absolute;
  width: 300px;
  height: 400px;
  transform-style: preserve-3d;
  perspective: 1000px;
  border-radius: 15px;
  opacity: 0;
  left: 50%;
  transform: translate(-50%);

  &.flipped &__content {
    transform: rotateY(180deg);
  }

  &__content {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
  }

  .front,
  .back {
    border-radius: 15px;
    transform-style: preserve-3d;
    width: fit-content;
    height: fit-content;
    position: absolute;
    backface-visibility: hidden;
  }

  .front {
    transform: rotateY(0deg);
    text-align: right;

    &__img {
      width: 300px;
      height: 400px;
      object-fit: fill;
    }

    &__name {
      position: absolute;
      display: block;
      background-color: rgb(235, 156, 20);
      right: 0;
      bottom: 0;
      color: black;
      padding: 3px 10px;
    }
  }

  .back {
    transform: rotateY(180deg);
    background: gray;
    padding: 0 1.5rem 1rem;

    &__img {
      z-index: -1;
      width: 100%;
      margin: 0 auto -40% auto;
      border-radius: 50%;
      transform: rotate(20deg) translate(-17%, -50%);
    }

    &__name {
      position: absolute;
      width: fit-content;
      font-family: 'Mr Dafoe';
      color: #FFC60D;
      text-shadow: 3px 3px #588DC0;
      text-align: center;
      top: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;

      &--xlong {
        font-size: 2.2rem;
        transform: rotate(-10deg) translateY(-60px);
      }

      &--long {
        font-size: 2.2rem;
        transform: rotate(-10deg) translateY(-50px);
      }

      &--medium {
        font-size: 3rem;
        transform: rotate(-10deg) translateY(-50px);
      }

      &--short {
        font-size: 3rem;
        transform: rotate(-10deg) translateY(-45px);
      }
    }

    &__heading {
      font-family: 'Permanent Marker';
      font-size: 1.8rem;
      margin-bottom: 10px
    }

    &__ingredients {
      list-style-type: '– ';
      margin-left: 30px;
      margin-bottom: 20px;
    }

    &__instructions {
      margin-left: 10px;
    }
  }
  
  &__button {
    color: rgb(235, 156, 20);
    font-size: 5rem;
    z-index: 11;
    align-self: center;
    
    &--hidden {
      opacity: 0;
    }
  }
}

.current__pic {
  opacity: 1;
  z-index: 10;
}

