.drink__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  &--result {
    flex: 0 1 calc(100%/5 - 50px);
    text-align: right;
    position: relative;
  }
  &--thumbnail {
    min-width: 200px;
  }
  &--name {
    position: absolute;
    display: block;
    background-color: rgb(235, 156, 20);
    right: 0;
    bottom: 0;
    color: black;
    padding: 3px 10px;
  }
}

.drink {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  transform-style: preserve-3d;
  perspective: 1000px;
  border-radius: 15px;
  
  &.flipped &__content {
    transform: rotateY(180deg);
  }
  
  &__content {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  
  .front,
  .back {
    border-radius: 15px;
    transform-style: preserve-3d;
    width: fit-content;
    height: fit-content;
    position: absolute;
    backface-visibility: hidden;
  }

  .front {
    transform: rotateY(0deg);
    background: red;
  }

  .back {
    transform: rotateY(180deg);
    background: gray;
    padding: 3rem 1.5rem 1rem;
    &__img {
      width: 40%;
      position: absolute;
      border-radius: 50%;
      transform: rotate(20deg);
      top: -30px;
      right: -30px;
      z-index: -1;
    }
    &__name {
      position: absolute;
      font-family: 'Mr Dafoe';
      font-size: 4rem;
      color: #FFC60D;
      text-shadow: 3px 3px #588DC0;
      transform: rotate(-15deg);
      top: -30px;
      left: -40px;
    }
    &__heading {
      font-family: 'Permanent Marker';
      font-size: 1.8rem;
      margin: 20px 0 10px
    }
    &__ingredients {
      list-style-type: '– ';
      margin-left: 30px;
    }
    &__instructions {
      margin-left: 10px;
    }
  }

}