footer {
  padding: 20px;
}

.footer__text {
  text-align: center;
  font-family: $permanentMarker;
  font-size: clamp(1rem, 6vw, 1.5em);
  &--juno {
    color: $junoorange;
    text-decoration: none;
    padding: 10px;
  }
}