footer {
  padding: 20px;
}

.footer__text {
  text-align: center;
  font-family: 'Permanent Marker', Verdana, Geneva, Tahoma, sans-serif;
  font-size: clamp(1rem, 6vw, 1.5em);
  &--juno {
    color: $junoOrange;
    text-decoration: none;
    padding: 10px;
  }
}