form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type=radio] {
  appearance: none;
  outline: none;
  &:checked + label{
    animation: switcher 0.7s forwards;
    color: $white;
  }
}

input[type=text] {
  width: 300px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  transition: background-color .5s ease-out, box-shadow .5s ease-out;
  transform: translateY(-20px);
  font-family: $permanentMarker;
  font-size: 1rem;
  background-color: rgba($color: $offWhite, $alpha: 0.7);
  outline: none;
  &:hover, &:focus {
    background-color: $offWhite;
    caret-color: $neonGreen;
    box-shadow: 0 0 7px $lightGrey,
    0 0 10px $lightGrey,
    0 0 20px $neonGreen,
    0 0 40px $neonGreen
  }
}

label {
  text-align: right;
  color: rgba($color: $offWhite, $alpha: 0.3);
  padding: 25px;
  font-family: $permanentMarker;
  font-size: clamp(1rem, 5vw, 1.5rem);
  -webkit-text-stroke-color: $offWhite;
  -webkit-text-stroke-width: 1px;
  transition: .3s color ease-out;
  span {
    display: block;
  }
  &:hover,
  &:focus {
    color: $offWhite;
  }
}

.form__button {
  text-transform: uppercase;
  background-color: rgba($color: $accent, $alpha: 0.3);
  color: $white;
  padding: 10px 15px;
  border-color: $white;
  -webkit-text-stroke: 1px $offBlack;
  margin-top: 20px;
  border-radius: 40px;
  box-shadow: 0px 20px 30px rgba($color: $teal, $alpha: 1);
  transition: all 0.2s;
  position: relative;
  top: 0px;
  cursor: pointer;
  &:active {
    background-color: rgba($color: $accent, $alpha: 0.5);
    box-shadow: 0px 20px 20px rgba($color: $teal, $alpha: 0.5);
    top: 5px;
    color: $black;
  }
}

.search-type {
  display: flex;
  justify-content: center;
  align-items: center;
  &__name__radio {
    order: 1;
    &:checked {
      ~.search-type__shaker {
        transform: rotate(-30deg);
      }
    }
  }
  &__name__label {
    order: 1;
  }
  &__ingredient__radio {
    order: 3;
    &:checked {
      ~.search-type__shaker {
        transform: rotate(30deg);
      }
    }
  }
  &__ingredient__label {
    order: 3;
  }
  &__shaker {
    order: 2;
    min-width: 10%;
    width: 10%;
    transition: transform .5s cubic-bezier(.43, -0.41, .63, 1.4);
  }
}