header {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.heading__text {
  animation: flicker 1.5s forwards;
  transform: rotate(-10deg);
  span {
    display: block;
  }
  &--bar {
    transform: translate(-40px);
  }
  &--cart {
    transform: translate(40px);
  }
}