.popup__container--closed {
  background: url("../assets/jakob-braun-bricks.jpg") no-repeat center / cover fixed;
  filter: grayscale(70%) brightness(90%);
  width: 40%;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  transition: transform 0.3s, top 0.3s;
  visibility: hidden;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  .popup__text--title {
    text-transform: uppercase;
    color: $summerYellow;
  }
  .popup__text--content {
    font-style: italic;
    color: $neonGreen;
  }
  .popup__button {
    text-transform: uppercase;
    background-color: rgba($color: $dustyOrange, $alpha: 0.5);
    color: $neonPink;
    padding: 10px 15px;
    font-weight: bold;
    border-color: $white;
    margin-top: 20px;
    border-radius: 40px;
    box-shadow: 0px 20px 20px rgba($color: $junoOrange, $alpha: 1);
    transition: all 0.1s;
    position: relative;
    top: 0px;
    &:active {
      background-color: rgba($color: $dustyOrange, $alpha: 1);
      box-shadow: 0px 20px 10px rgba($color: $junoOrange, $alpha: 0.5);
      top: 5px;
      color: $black;
    }
  }
}

.popup__container--open {
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  visibility: visible;
}