html {
  font-size: 125%;
  color: $offWhite;
  text-rendering: optimizeLegibility;
}

body {
  font-family: $permanentMarker;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: $neonderthaw;
  font-size: clamp(4rem, 30vw, 8rem);
  letter-spacing: clamp(-0.15rem, -0.5vw, 0.1rem);
}

button {
  font-family: $permanentMarker;
}