$white: #fff;
$offWhite: #eee;
$neonPink: #f09;
$neonGreen: #18ff00;
$junoOrange: #ea593e;
$dustyOrange: #FF8327;
$teal: #588DC0;
$darkRed: #551919;
$lightOrange: #ff950a;
$summerYellow: #FFC60D;
$accent: #05AFC1;
$black: #2c2c2c;
$lightGrey: #bbb;
$offBlack: #2e2e2e;

$neonderthaw: Neonderthaw, cursive;
$permanentMarker: 'Permanent Marker', Verdana, Geneva, Tahoma, sans-serif;