$white: #fff;
$offWhite: #eee;
$neonPink: #f09;
$neonGreen: #33ff00;
$junoOrange: #ea593e;
$dustyOrange: #FF8327;
$teal: #588DC0;
$darkRed: #551919;
$lightOrange: #ff950a;
$summerYellow: #FFC60D;
$accent: #05AFC1;
$black: #2c2c2c;
$lightGrey: #bbb;