@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  color: #eee;
  text-rendering: optimizeLegibility;
}

body {
  font-family: Raleway, cursive;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Neonderthaw, cursive;
  font-size: clamp(4rem, 30vw, 8rem);
  letter-spacing: clamp(-0.15rem, -0.5vw, 0.1rem);
}

body {
  position: relative;
  min-height: 100vh;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}
body::before {
  z-index: -1;
  position: absolute;
  content: "";
  inset: 0;
  width: 100%;
  height: 100%;
  background: url("../assets/namroud-gorguis-bricks.jpg") no-repeat center/cover fixed;
  -webkit-filter: grayscale(60%) brightness(20%);
          filter: grayscale(60%) brightness(20%);
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

ul,
li,
a {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

fieldset {
  border: none;
}

label {
  cursor: pointer;
}

input[type=radio] {
  cursor: pointer;
}

@-webkit-keyframes flicker {
  0%, 73% {
    color: #2e2e2e;
    text-shadow: none;
  }
  75%, 86%, 93%, 97% {
    text-shadow: none;
  }
  74%, 85%, 92%, 96%, 100% {
    color: #fff;
    text-shadow: 0 0 7px #bbb, 0 0 10px #bbb, 0 0 21px #bbb, 0 0 42px #f09, 0 0 82px #f09, 0 0 92px #f09, 0 0 102px #f09, 0 0 151px #f09, 0 0 200px #f09;
  }
}

@keyframes flicker {
  0%, 73% {
    color: #2e2e2e;
    text-shadow: none;
  }
  75%, 86%, 93%, 97% {
    text-shadow: none;
  }
  74%, 85%, 92%, 96%, 100% {
    color: #fff;
    text-shadow: 0 0 7px #bbb, 0 0 10px #bbb, 0 0 21px #bbb, 0 0 42px #f09, 0 0 82px #f09, 0 0 92px #f09, 0 0 102px #f09, 0 0 151px #f09, 0 0 200px #f09;
  }
}
@-webkit-keyframes switcher {
  11%, 45%, 75%, 95%, 100% {
    text-shadow: 0 0 7px #bbb, 0 0 2px #bbb, 0 0 5px #bbb, 0 0 10px #18ff00, 0 0 15px #18ff00, 0 0 20px #18ff00, 0 0 25px #18ff00, 0 0 40px #18ff00, 0 0 50px #18ff00;
  }
  0%, 12%, 46%, 76%, 96% {
    text-shadow: none;
  }
}
@keyframes switcher {
  11%, 45%, 75%, 95%, 100% {
    text-shadow: 0 0 7px #bbb, 0 0 2px #bbb, 0 0 5px #bbb, 0 0 10px #18ff00, 0 0 15px #18ff00, 0 0 20px #18ff00, 0 0 25px #18ff00, 0 0 40px #18ff00, 0 0 50px #18ff00;
  }
  0%, 12%, 46%, 76%, 96% {
    text-shadow: none;
  }
}
header {
  min-height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.heading__text {
  -webkit-animation: flicker 1.5s forwards;
          animation: flicker 1.5s forwards;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}
.heading__text span {
  display: block;
}
.heading__text--bar {
  -webkit-transform: translate(-40px);
          transform: translate(-40px);
}
.heading__text--cart {
  -webkit-transform: translate(40px);
          transform: translate(40px);
}

footer {
  padding: 20px;
}

.footer__text {
  text-align: center;
  font-family: "Permanent Marker", Verdana, Geneva, Tahoma, sans-serif;
  font-size: clamp(1rem, 6vw, 1.5em);
}
.footer__text--juno {
  color: #ea593e;
  text-decoration: none;
  padding: 10px;
}

.drinks {
  -webkit-transition: height 1s ease-out;
  transition: height 1s ease-out;
}
.drinks__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: height 1s ease-in-out;
  transition: height 1s ease-in-out;
}
.drinks__heading {
  font-size: 2rem;
}
.drinks__container {
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.drinks__list {
  position: relative;
}
.drinks__button {
  background: none;
  border: none;
  color: #ff950a;
  font-size: 5rem;
  z-index: 11;
  -ms-flex-item-align: center;
      align-self: center;
  cursor: pointer;
  text-shadow: 0px 10px 10px #FF8327;
  position: relative;
  top: 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.drinks__button:hover, .drinks__button:focus {
  color: #FFC60D;
  text-shadow: 0px 10px 10px #588DC0;
}
.drinks__button:active {
  text-shadow: 0px 5px 5px #588DC0;
  top: 5px;
}
.drinks__button--hidden {
  opacity: 0;
}

.drink {
  margin: 165px 0;
  position: absolute;
  width: 300px;
  height: 400px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  border-radius: 15px;
  opacity: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  cursor: pointer;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.drink--flipped .drink__content {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.drink__content {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.drink .front,
.drink .back {
  border-radius: 15px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background: url(../assets/manoj-kumar-bricks.jpg) no-repeat center/cover;
  -webkit-box-shadow: 5px 10px 10px #2c2c2c, inset 2px 3px 5px #fff, inset -2px -3px 5px #2c2c2c;
          box-shadow: 5px 10px 10px #2c2c2c, inset 2px 3px 5px #fff, inset -2px -3px 5px #2c2c2c;
}
.drink .front {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  text-align: center;
  width: 300px;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.drink .front__img {
  width: 80%;
  height: auto;
  -o-object-fit: fill;
     object-fit: fill;
  margin: 20px auto;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 10px #2c2c2c, -1px -1px 10px #2c2c2c;
          box-shadow: 5px 5px 10px #2c2c2c, -1px -1px 10px #2c2c2c;
  -webkit-transform: rotate(5deg) translateZ(50px);
          transform: rotate(5deg) translateZ(50px);
}
.drink .front__name {
  display: block;
  font-family: "Mr Dafoe";
  color: #FFC60D;
  text-shadow: 3px 3px #588DC0, 5px 5px 3px #2c2c2c;
  font-size: 2.5rem;
  padding: 3px 10px;
  -webkit-transform: rotate(-5deg) translateZ(50px);
          transform: rotate(-5deg) translateZ(50px);
}
.drink .back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  padding: 0 1.5rem 2rem;
}
.drink .back__title {
  opacity: 0;
  -webkit-transform: translateY(100px) translateZ(50px);
          transform: translateY(100px) translateZ(50px);
  -webkit-transition: opacity 0.5s ease-out, -webkit-transform 0.5s ease-out;
  transition: opacity 0.5s ease-out, -webkit-transform 0.5s ease-out;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}
.drink .back__title--flipped {
  opacity: 1;
  -webkit-transform: translateY(0px) translateZ(50px);
          transform: translateY(0px) translateZ(50px);
}
.drink .back__recipe {
  opacity: 0;
  -webkit-transform: translateY(-100px) translateZ(50px);
          transform: translateY(-100px) translateZ(50px);
  -webkit-transition: opacity 0.5s ease-out, -webkit-transform 0.5s ease-out;
  transition: opacity 0.5s ease-out, -webkit-transform 0.5s ease-out;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  transition: opacity 0.5s ease-out, transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}
.drink .back__recipe--flipped {
  opacity: 1;
  -webkit-transform: translateY(0px) translateZ(50px);
          transform: translateY(0px) translateZ(50px);
}
.drink .back__img {
  width: 100%;
  margin: 0 auto -40% auto;
  border-radius: 50%;
  -webkit-transform: rotate(20deg) translate(-17%, -40%);
          transform: rotate(20deg) translate(-17%, -40%);
  -webkit-box-shadow: 5px 5px 10px #2c2c2c;
          box-shadow: 5px 5px 10px #2c2c2c;
}
.drink .back__name {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Mr Dafoe";
  color: #FFC60D;
  text-shadow: 3px 3px #588DC0, 5px 5px 5px #2c2c2c;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.drink .back__name--xlong {
  font-size: 2.2rem;
  -webkit-transform: rotate(-10deg) translateY(-60px);
          transform: rotate(-10deg) translateY(-60px);
}
.drink .back__name--long {
  font-size: 2.2rem;
  -webkit-transform: rotate(-10deg) translateY(-50px);
          transform: rotate(-10deg) translateY(-50px);
}
.drink .back__name--medium {
  font-size: 3rem;
  -webkit-transform: rotate(-10deg) translateY(-50px);
          transform: rotate(-10deg) translateY(-50px);
}
.drink .back__name--short {
  font-size: 3rem;
  -webkit-transform: rotate(-10deg) translateY(-45px);
          transform: rotate(-10deg) translateY(-45px);
}
.drink .back__heading {
  font-family: "Permanent Marker";
  font-size: 1.4rem;
  margin-bottom: 10px;
  text-shadow: 1px 1px #2c2c2c, -1px 1px #2c2c2c, 3px 3px 3px #2c2c2c;
}
.drink .back__ingredients, .drink .back__instructions {
  color: #2c2c2c;
  background-color: #eee;
  padding: 20px;
  -webkit-box-shadow: 5px 5px 10px #2c2c2c;
          box-shadow: 5px 5px 10px #2c2c2c;
  border-radius: 5px;
}
.drink .back__ingredients {
  list-style-type: "– ";
  padding-left: 30px;
  margin-bottom: 20px;
}

.drink__pic--current {
  opacity: 1;
  z-index: 10;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}
input[type=radio]:checked + label {
  -webkit-animation: switcher 0.7s forwards;
          animation: switcher 0.7s forwards;
  color: #fff;
}

input[type=text] {
  width: 300px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  -webkit-transition: background-color 0.5s ease-out, -webkit-box-shadow 0.5s ease-out;
  transition: background-color 0.5s ease-out, -webkit-box-shadow 0.5s ease-out;
  transition: background-color 0.5s ease-out, box-shadow 0.5s ease-out;
  transition: background-color 0.5s ease-out, box-shadow 0.5s ease-out, -webkit-box-shadow 0.5s ease-out;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  font-family: "Permanent Marker", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  background-color: rgba(238, 238, 238, 0.7);
  outline: none;
  border: none;
}
input[type=text]:hover, input[type=text]:focus {
  background-color: #eee;
  caret-color: #18ff00;
  -webkit-box-shadow: 0 0 7px #bbb, 0 0 10px #bbb, 0 0 20px #18ff00, 0 0 40px #18ff00;
          box-shadow: 0 0 7px #bbb, 0 0 10px #bbb, 0 0 20px #18ff00, 0 0 40px #18ff00;
}

label {
  text-align: right;
  color: rgba(238, 238, 238, 0.3);
  padding: 25px;
  font-family: "Permanent Marker", Verdana, Geneva, Tahoma, sans-serif;
  font-size: clamp(1rem, 5vw, 1.5rem);
  -webkit-text-stroke-color: #eee;
  -webkit-text-stroke-width: 1px;
  -webkit-transition: 0.3s color ease-out;
  transition: 0.3s color ease-out;
}
label span {
  display: block;
}
label:hover, label:focus {
  color: #eee;
}

.form__button {
  text-transform: uppercase;
  background-color: rgba(5, 175, 193, 0.3);
  color: #fff;
  padding: 10px 15px;
  font-weight: bold;
  border-color: #fff;
  margin-top: 20px;
  border-radius: 40px;
  -webkit-box-shadow: 0px 20px 30px #588dc0;
          box-shadow: 0px 20px 30px #588dc0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  top: 0px;
  cursor: pointer;
}
.form__button:active {
  background-color: rgba(5, 175, 193, 0.5);
  -webkit-box-shadow: 0px 20px 20px rgba(88, 141, 192, 0.5);
          box-shadow: 0px 20px 20px rgba(88, 141, 192, 0.5);
  top: 5px;
  color: #2c2c2c;
}

.search-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.search-type__name__radio {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.search-type__name__radio:checked ~ .search-type__shaker {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}
.search-type__name__label {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.search-type__ingredient__radio {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
.search-type__ingredient__radio:checked ~ .search-type__shaker {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}
.search-type__ingredient__label {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}
.search-type__shaker {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  min-width: 10%;
  width: 10%;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.43, -0.41, 0.63, 1.4);
  transition: -webkit-transform 0.5s cubic-bezier(0.43, -0.41, 0.63, 1.4);
  transition: transform 0.5s cubic-bezier(0.43, -0.41, 0.63, 1.4);
  transition: transform 0.5s cubic-bezier(0.43, -0.41, 0.63, 1.4), -webkit-transform 0.5s cubic-bezier(0.43, -0.41, 0.63, 1.4);
}

.popup__container {
  background-color: rgba(238, 238, 238, 0.1);
  width: 40%;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-align: center;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
.popup__container--hidden {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.1);
          transform: translate(-50%, -50%) scale(0.1);
  visibility: hidden;
}
.popup__container .popup__title {
  text-transform: uppercase;
  color: #FFC60D;
}
.popup__container .popup__content {
  font-style: italic;
  color: #18ff00;
}
.popup__container .popup__button {
  text-transform: uppercase;
  background-color: rgba(255, 131, 39, 0.5);
  color: #551919;
  padding: 10px 15px;
  font-weight: bold;
  border-color: #fff;
  margin-top: 20px;
  border-radius: 40px;
  -webkit-box-shadow: 0px 20px 20px #ea593e;
          box-shadow: 0px 20px 20px #ea593e;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  position: relative;
  top: 0px;
}
.popup__container .popup__button:active {
  background-color: #ff8327;
  -webkit-box-shadow: 0px 20px 10px rgba(234, 89, 62, 0.5);
          box-shadow: 0px 20px 10px rgba(234, 89, 62, 0.5);
  top: 5px;
  color: #2c2c2c;
}